.app-layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  max-height: 100%;
  background: #f0bd04;
  background: linear-gradient(45deg, #0d6320, #8ed64f, #88b01a, #f1dd06);
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 15px;
}

:root {
  --accent-color: #346cce;
  --accent-text-color: #fff;
  --accent-color-highlight: #6091e7;
  --bg-color: #e6e21075;
  --layout-padding: 4vmin;

  scrollbar-color: var(--accent-color) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-highlight);
}
